.projects {
  background: var(--gray-200);
  height: 917px;
  width: 100vw;
  padding: 72px 120px 120px 144px;
  display: grid;
}
.grids {
  background: var(--gray-300);
  width: 330px;
  height: 280px;
  padding: 12px 12px 69px 12px;
  border-radius: 12px;
img {
  width: 306px;
  height: 156px;
  border-radius: 8px;
}
h2 {
  margin-top: 24px;
}
p {
  margin-top: 8px;
}
}
.section-header {
  h2 {
    margin-bottom: 56px;
  }
}
.services {
  background: var(--gray-100);
  height: 480px;
  width: 100vw;
  padding: 88px 120px 120px 120px;
  display: grid;
}
.serv {
  padding: 20px;
  border: 2px solid var(--gray-200);
  border-radius: 12px;
  width: 280px;
  img {
    margin-bottom: 20;
  }
  h2 {
    margin-bottom: 8px;
  }
}
.contact {
  background-image: url(../image/Background_Contacts.png);
  height: 787px;
  width: 100vw;
  background-position: center;
  background-size: cover;
  padding: 128px 120px 200px 120px;
}
.contatos {
  background-color: var(--gray-300);
  width: 400px;
  height: 68px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 24px;
}
.contatos div {
  display: flex;
  align-items: center;
  gap: 12px;
}
.arrow {
  background-image: url(../icon/ArrowUpRightbrc.svg);
  width: 32px;
}
.arrow:hover {
  background-image: url(../icon/ArrowUpRight.svg);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}
